.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

main {
  padding: 0 0 2rem;
  background-color: var(--background-color);
}

.divider-top,
.divider-bottom {
  height: 2px;
  width: 100%;
  background-color: var(--accent-color);
}

@media (max-width: 600px) {
  main {
    padding-bottom: 3rem; 
  }
}
